html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
    margin: auto 0;
    text-align: center;
    font-family: "Fira Sans", "Avenir Next", Helvetica, Arial, sans-serif;
}

.intro {
    min-height: 95vh;
}

h1, h2 {
    color: black;
    margin: 0;
    padding: 0;
}

h1 {
    padding-top: 30vh;
    font-size: 6em;
    font-family: "Fira Sans Extra Condensed", "Avenir Next Condensed", Helvetica, Arial, sans-serif;
}

.zinn {
    font-variant: small-caps;
    font-size: 1.3em;
    font-weight: 400;
}

.labs {
    font-weight: 100;
}

.tm {
    font-weight: 400;
    font-size: 20%;
    vertical-align: text-top;
    position: relative;
    top: 1em;
}

h2.about {
    font-weight: 400;
    font-size: 1.5em;
    padding-bottom: 5vh;
    font-family: "Fira Sans Extra Condensed", "Avenir Next Condensed", Helvetica, Arial, sans-serif;
}

.navigation {
    font-weight: 300;
    padding-bottom: 5vh;
}

.navigation a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 500ms, color 250ms;
}

.navigation a:hover {
    background: rgba(0,0,0,0.12);
    color: #06f;
}

.navigation a:active {
    background: rgba(0,0,0,0.2);
    color: #08f;
}

.intro + .section {
    margin-top: 0;
}

.section {
    position: relative;
    margin-top: 4em;
}

.section::before {
    content: "";
    display: block;
    height: 1px;
    width: 50vw;
    background: black;
    position: absolute;
    top: 0;
    left: 25vw;
}

.section > h2 {
    font-weight: 400;
    font-size: 2.2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.coverage {
    padding: 1px 10vw 2em;
}

.yt_container {
    position: relative;
    margin: 1em auto;
    width: 50vw;
    height: 28.125vw;
}

.yt_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a.article:link, a.article:visited {
    display: inline-block;
    vertical-align: middle;
    padding: 4vh;
    margin: 4vh 2vw 0;
    border-radius: 10px;
    transition: background 500ms, color 250ms;
    width: 15vw;
    font-size: 1.2em;
}

a.article:hover {
    background: rgba(0,0,0,0.12);
    color: #06f;
}

a.article:active {
    background: rgba(0,0,0,0.2);
    color: #08f;
}

.article img {
    width: 100%;
}

.person {
    margin: 8vh 0;
    display: inline-block;
    padding: 0 10px 1em 10px;
    border-radius: 10px;
    vertical-align: top;
    transition: background 500ms;
}

@media screen and (max-width: 700px) {
    .person {
        font-size: 0.8em;
    }
}

.name {
    margin-top: 1em;
    font-weight: 300;
}

.title {
    margin-bottom: 1em;
    font-weight: 400;
}

.links {
    margin-top: 1em;
    font-weight: 300;
    font-size: 0.9em;
}

.links a:hover {
    text-decoration: underline;
    color: #06f;
}

.links a:active {
    color: #08f;
}

.person > img {
    border-radius: 100%;
    width: 14.5vw;
}

.contact {
    margin: 1em auto;
}

.emailRemove {
    display: none;
}

.footer {
    font-weight: 300;
    font-size: 0.9em;
    box-shadow: inset #777 0 -60px 50px -75px;
    margin: 0;
    padding: 30px 0 1px 0;
}

.footer a:link, .footer a:visited {
    color: #06f;
}

.footer a:hover {
    text-decoration: underline;
}

.footer a:active {
    color: #08f;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}
